# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
dump.*
media/
staticfiles/
static/

# Environment variables
.env
.env.*
!.env.example

# Celery
celerybeat-schedule
celerybeat.pid
celery-*.pid

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migrations (опционально — многие не игнорируют)
# */migrations/*.py
# !*/migrations/__init__.py
