# игнорирование результатов Allure и кеша
allure-results/
# позже реализую папку со всем кешом
.cache/
postman/data/*.json
node_modules/
.venv/
allure-results/
allure-report/

# Playwright
frontend/test-results/
frontend/playwright-report/
frontend/node_modules/

# Env
frontend/.env.test

# Allure
allure-results/
allure-report/
