:root {
  --text: #fff;
  --bg: #0b0b0b;
  --border: #333;
  --accent: #FF0606;

  --sans: 'Iceland', system-ui, -apple-system, sans-serif;
  --font-benzin: 'Benzin-Bold', sans-serif;
  --mono: 'SF Mono', Monaco, 'Cascadia Code', monospace;

  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);
  font-size: 16px;
  line-height: 1.5;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #fff;
    --bg: #0b0b0b;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: var(--bg);
}

html {
  overflow-y: auto;
  background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);
  background: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 0.9em;
}
